<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDD57A841C0A9D98000FA2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD57A981C0A9D98000FA2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD57AA31C0A9D98000FA2EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
